<!DOCTYPE html>
<html>
    <head>
        <title>Article not found</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src='/js/app.js'></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{notfoundmessage}}
        </div>
        {{>footer}}
    </body>
</html>