<!DOCTYPE html>
<html>
    <head>
        <title>Not Found</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{notfoundmessage}}</p>
        </div>

        {{>footer}}
    </body>
</html>